.testimonial {
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @mixin atSmall {
      flex-direction: row;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &__image {
    img {
      border-radius: 50%;
      width: 140px;
      height: auto;
    }
  }

  &__quote {
    font-size: 1rem;
    line-height: 1.5;
    margin: 15px 0;

    @mixin atSmall {
      margin: 40px 0 25px;
    }
  }

  &__author {
    font-size: 0.875rem;

    @mixin atSmall {
      font-size: 1rem;
    }
  }
}
